body {
    background: red;
  }
  
  .range-container {
    transform: rotate(90deg);
    width: 400px;
    position: absolute;
    top: 50%;
    right: 0%;
  }
  
  .slider {
    width: 100%;
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.529);
    border-radius: 40px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
  }
  
  .slider::-webkit-slider-runnable-track {
    background: transparent;
  }

  .slider-container {
    position: absolute;
    top: 70%;
    right: -72px;
    transform: rotate(90deg);
    width: 360px;
}
  
  .range-marks {
    display: flex;
    justify-content: space-between;
    margin-top: -14px;
  }
  
  .range-mark {
    position: relative;
  }
  
  .range-mark::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    width: 1px;
    height: 10px;
    background: white;
    transform: translateY(-50%);
  }
  
  .images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image {
    display: none;
    max-width: 100%;
    height: auto;
    transition: display 1s ease-in-out;
  }
  
  .image.active {
    display: block;
  }
  